*{
    margin:0px;
    padding:0px;
}
.heading{
    display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E9D985;
    color:#5D4A66;
}
body{
    background-color:#B2BD7E;
    text-align:center;
      height: 100%;
}
.container{
     display: flex;
    align-items: center;
    justify-content: center;
    height:70vh;
    width: 70vh;
    flex-direction: column;
}
.game{
    height:60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1.5vmin;
}
.box{
    font-size: xx-large;
    font-weight: bold;
    height:18vmin;
    width: 18vmin;
    border-radius: 5px;
    background-color: #749C75;
    border: none;
    box-shadow: 0 0 .3rem black;
    color: #E9D985;
} 
.bd{
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset{
    height:40px;
    width:57vh ;
    margin-top: 10px;
    font-size: large;
     border-radius: 5px;
    background-color: #5D4A66;
    border: none;
    box-shadow: 0 0 .3rem black;
    color: #E9D985;
}
.fullbody{
    height: 100%;
    width: 100%;
}
#winner{
    font-size: x-large;
    font-weight: bold;
}